<%if super_admin_user?%>
    <div class="center" style="padding-right: 400px" style="padding-left: 400px">
      
     <div class="action-btn" align="center" style="padding-bottom: 10px">
            <a>
              <%= link_to 'Create Category'.html_safe, new_admin_category_path, :class=>"btn btn-block btn-info btn-lg"%>
            </a>
     </div>

     <div class="action-btn" align="center" style="padding-bottom: 10px">
            <a>
              <%= link_to 'HR USERS'.html_safe, admin_admin_users_path, :class=>"btn btn-block btn-info btn-lg"%>
            </a>
     </div>

     <div class="action-btn" align="center" style="padding-bottom: 10px">
            <a>
              <%= link_to 'View Categories'.html_safe, admin_categories_path , :class=>"btn btn-block btn-info btn-lg" %>
            </a>
     </div>
    </div>
<%else%>
    <%if Tab.find_by(id: params[:tab_id])&.type == "table" %>
    <%= Tab.find_by(id: params[:tab_id])&.type %>
    <%= render "tab_table"%>
    <%elsif Tab.find_by(id: params[:tab_id])&.type == "form" %>
    <%= Tab.find_by(id: params[:tab_id])&.type %>
    <%= render "tab_form"%>
    <%end%>
<%end%>