

     <head>
    <style>
body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 56px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    height: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
</head>
<body>
<div class="tab">
  <input type="button" class="tablinks" onclick="opentabform(event, 'Account')" id="defaultOpen" value="Account" />
  <input type="button" class="tablinks" onclick="opentabform(event, 'Lead')" id="defaultOpen" value="Lead" />
  <input type="button" class="tablinks" onclick="opentabform(event, 'Quotation')" id="defaultOpen" value="Quotation" />
  <input type="button" class="tablinks" onclick="opentabform(event, 'deployment_document_datum')" id="defaultOpen" value="Deployment_document_datum"  />
<!--   <button class="tablinks" onclick="opentabform(event, 'Lead')">Lead</button>
  <button class="tablinks" onclick="opentabform(event, 'Quotation')">Quotation</button>
  <button class="tablinks" onclick="opentabform(event, 'User')">User</button>
 --></div>

   <%#=form_for :category, url: admin_categories_path, html: {:id=> "create-category"} do |f|%>
<div id="Account" class="tabcontent">
   <table class="table table-bordered table-hover">
        <thead>
        <tr>
        <th>Columns Name</th>
        <th>Create</th>
        <th>Compulsary</th>
        <th>Deactive</th>
        </tr>
        </thead>
        <tbody>
      <% @account_columns.each do |tab|%>
        <tr>
      <td><%= tab%></td>
      <td><input type="checkbox" name="tab[columns][account[<%=tab%>]][]" value="create" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][account[<%=tab%>]][]" value="compulsary" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][account[<%=tab%>]][]" value="deactive" class="view-col"></td>
    </tr>

    <%end%>
  </tbody>
</table>
</div>

<div id="Lead" class="tabcontent">
  <table class="table table-bordered table-hover">
        <thead>
        <tr>
        <th>Columns Name</th>
        <th>Create</th>
        <th>Compulsary</th>
        <th>Deactive</th>
        </tr>
        </thead>
        <tbody>
      <% @lead_columns.each do |tab|%>
        <tr>
      <td><%= tab%></td>
      <td><input type="checkbox" name="tab[columns][site[<%=tab%>]][]" value="create" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][site[<%=tab%>]][]" value="compulsary" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][site[<%=tab%>]][]" value="deactive" class="view-col"></td>
      
    </tr>

    <%end%>
  </tbody> 
</table>
</div>


<div id="Quotation" class="tabcontent">
 <table class="table table-bordered table-hover">
        <thead>
        <tr>
        <th>Columns Name</th>
        <th>Create</th>
        <th>Compulsary</th>
        <th>Deactive</th>
        </tr>
        </thead>
        <tbody>
      <% @quotation_columns.each do |tab|%>
        <tr>
      <td><%= tab%></td>
      <td><input type="checkbox" name="tab[columns][quotation[<%=tab%>]][]" value="create" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][quotation[<%=tab%>]][]" value="compulsary" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][quotation[<%=tab%>]][]" value="deactive" class="view-col"></td>
      
    </tr>

    <%end%>
  </tbody>
</table>
</div>

<div id="deployment_document_datum" class="tabcontent">
  <table class="table table-bordered table-hover">
        <thead>
        <tr>
        <th>Columns Name</th>
        <th>Create</th>
        <th>Compulsary</th>
        <th>Deactive</th>
        </tr>
        </thead>
        <tbody>
      <% @ddd_columns.each do |tab|%>
        <tr>
      <td><%= tab%></td>
      <td><input type="checkbox" name="tab[columns][deployment_document_datum[<%=tab%>]][]" value="create" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][deployment_document_datum[<%=tab%>]][]" value="compulsary" class="view-col"></td>
      <td><input type="checkbox" name="tab[columns][deployment_document_datum[<%=tab%>]][]" value="deactive" class="view-col"></td>
      
    </tr>

    <%end%>
  </tbody>
</table>
</div>
<%#=f.submit "Create Category", class: "btn-primary"%> 
<%#end%>
<script>
function opentabform(evt, tab_name) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tab_name).style.display = "block";
    evt.currentTarget.className += " active";
}
   document.getElementById("defaultOpen").click();
</script>


<script type="text/javascript">
       $(".view-col").on("change", function(){

         if($('.view-col').is(':checked')){
            var table_name = $(this).closest('div').attr('id')
            // $.ajax(function(){
            //   type: "get",
            //   url: "",
            //   data: {
            //     table_name: table_name
            //   } 
            // });  

            var table_name = $(this).closest('div').attr('id')
             var count = 0;
             // alert(table_name);
             var $checkboxes = $(`#${table_name} td input[type="checkbox"]`);
                  $checkboxes.change(function(){
              var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
        // $('#count-checked-checkboxes').text(countCheckedCheckboxes);
        
          // alert(countCheckedCheckboxes);
         });

         }
         else
         {
        //   var table_name = $(this).closest('div').attr('id')
        //      var count = 0;
        //      var $checkboxes = $('#Account td input[type="checkbox"]');
              
        //           $checkboxes.change(function(){
        //  var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
        // // $('#count-checked-checkboxes').text(countCheckedCheckboxes);
        
        //   alert(countCheckedCheckboxes);
        //  });        

         }
       
       });

  
</script>



