 <section class="content-header">
      <h1>
        Admin Users
      </h1>
      <h1>
        <form action="<%= admin_admin_users_path %>"  method="get" >
            <input type="text" name="search" placeholder="Search"> 
          <button>Search</button>
      </form>
      </h1>
      <ol class="breadcrumb">
        <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li> -->
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">
                <%= form_tag import_admin_admin_users_path, multipart: true do %>
                <%= file_field_tag :file, required: true %>
              </h3>
                <%= submit_tag "Import" %>
                <%end%>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>First Name</th>
                    <th>Account ID</th>
                    <th>User Email</th>
                    <th>Category</th>
                    <th>Send Login Credential</th>
                    <th>Action</th>
                    <!-- <th>Territory</th> -->
                </tr>
                </thead>
                <tbody>
                <% @admin_users.each do |admin_user|%>
                  <tr>
                    <td><%= admin_user&.first_name%></td>
                    <td><%= admin_user.try(:account_id)%></td>
                    <!-- <td><span class="tag tag-success">Approved</span></td> -->
                    <td><%= admin_user.try(:email)%></td>
                    <td>
                      <%= form_tag send_credential_admin_admin_users_path(admin_user_id: admin_user.id), method: :post do %>
                      <%=select_tag "categories", options_from_collection_for_select(get_categories, "id", "name") %>
                  </td>
                  <td>  
                    <div class="action-btn">
                      <a>
                        <%= submit_tag 'Send'.html_safe, :class=>"btn btn-sm btn-info"%>
                      <%end%>
                          </a>
                    </div>
                    </td>
                   <td>
                    <div class="action-btn">
                     <% if admin_user&.is_active? == true %>
                 <a><%= link_to '<i class="fa fa-ban" aria-hidden="true"></i> Suspend'.html_safe, suspend_user_admin_admin_users_path(id: admin_user.id), :class=>"btn btn-sm btn-danger"  , style: "width: 99px;",:data => {:confirm => 'Are you sure you want to Suspend the User?'}%></a>
                 <% elsif admin_user&.is_active? == false %>
                 <a><%= link_to '<i class="fa fa-certificate" aria-hidden="true"></i> Inactive'.html_safe, "#", :class=>"btn btn-sm btn-success", style: "width: 99px;"%></a>
                 <% end %>
                 </div>
                   </td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->