<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <!-- <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div> -->
      <div class="pull-left info">
        <p><%=current_user.email%></p>
        <p><%=current_user&.category&.name%></p>
        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>

    <!-- search form (Optional) -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
    <%if super_admin_user?%>
      <!-- <li class="header">HEADER</li> -->
        <!-- Optionally, you can add icons to the links -->
       <li><a href="/admin/dashboard/home"><i class='fa fa-link'></i> <span>Home Page</span></a></li>

      <li><a href="/admin/categories"><i class='fa fa-link'></i> <span>Category</span></a></li>
     <!-- <li class=""><%=link_to admin_accounts_index_path do %><i class='fa fa-link'></i> <span>Accounts</span><%end%></li> -->
     <li class=""><%=link_to "/admin/admin_users" do %><i class='fa fa-link'></i> <span>HR Users</span><%end%></li>
     <li class=""><%#=link_to "#" do %><i class='fa fa-link'></i> <span>Leads</span><%#end%></li>
      <li class=""><%#=link_to "#" do %><i class='fa fa-link'></i> <span>Quotations</span><%#end%></li>
      <!-- <li class="treeview">
        <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
      <%else%>
        <%if category_tabs.present?%>
           <%category_tabs.each do |tab|%>
             <li><a href="#"><i class='fa fa-link'></i> <span><%=tab&.name&.capitalize%></span></a></li>          
           <%end%>
        <%end%>
      <%end%>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
<!-- if image is not use in user-panel -->
<style type="text/css">
  .user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    height: 60px;
}
.user-panel > .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 0px;
}
</style>
<!-- if image is not use in user-panel -->